[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "poc/combinatorial-betting/lib/forge-std"]
	path = poc/combinatorial-betting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "poc/combinatorial-betting/lib/openzeppelin-contracts"]
	path = poc/combinatorial-betting/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
